@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.z--1 {
  z-index: -1;
}

/*Navigation Bar*/

.nav-link {
  position: relative;
  padding: 10px;
  text-decoration: none;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FFD700;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}

/*Logo*/

@keyframes scaleIcon {
  0% {
      opacity: 0;
      transform: scale(10);
  }

  25% {
      opacity: 1;
      transform: scale(0.9);
  }

  100% {
      transform: scale(1);
  }
}

@keyframes inverseSpin {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes Spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-logo {
  animation: scaleIcon 1s;
}

.animate-nonlinear-spin {
  animation: Spin 1s ease-in-out infinite;
}

.animate-inverse-spin {
  animation: inverseSpin 1s linear infinite;
}

.animate-inverse-nonlinear-spin {
  animation: inverseSpin 1s ease-in-out infinite;
}

/*Hyperlink*/

.hyperlink {
  color: rgb(34 211 238);
  transition: ease-in-out 0.2s;
  text-decoration: none;
}

.hyperlink:hover {
  color: rgb(250 204 21);
}

.hyperlink:active {
  color: rgb(112, 255, 129);
}

.h-100 {
  height: 28rem;
}

.h-128 {
  height: 40rem;
}